@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");

.navbar-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6rem;
  z-index: 99;
  background-color: white;
}

.navbar {
  position: sticky;
  top: 1rem;
  left: 0;
  width: 100%;
  /* height: 4rem; */
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 64px;
  /* margin: 2rem; */
  /* margin-top: 1rem; */
  margin-left: 1rem;
  /* box-shadow: 0px 0px 10px gray; */
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-self: center;
  align-self: center; */
  grid-column: 1 /2;
  cursor: pointer;
}
/* .navbar * {
  position: absolute;
} 

.nav-img,
.brand-name {
  top: 38px;
} */

.nav-img {
  /* left: 50px; */
  height: 30px;
  width: 30px;
  margin-right: 0.7rem;
}

.brand-name {
  /* left: 80px; */
  font-size: 36px;
  font-weight: 800;
  font-family: "Baloo Chettan 2", cursive;
}

.nav-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 6;
}

.nav-search-bar {
  /* top: 24px;
  left: 230px; */
  font-weight: 500;
  width: 80%;
  height: 40px;
  border: 1px solid #bdbdbd;
  outline: none;
  /* box-sizing: border-box; */
  /* filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1)); */
  border-radius: 20px;
  padding-left: 1.5rem;
}

.nav-search-icon {
  position: relative;
  left: -2.5rem;
  /* z-index: 1; */
  color: rgb(85, 85, 85);
  cursor: pointer;
}

.nav-last-div {
  grid-column: 6 / 7;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-photo-btn {
  top: 24px;
  right: 5%;
  width: 110px;
  height: 40px;
  background-color: white;
  border: 1px solid #3db46d;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  /* grid-column: 2 / 3;
  align-self: center; */
}

.add-photo-btn:hover {
  background-color: #3db46d;
  color: white;
}

.filter-container {
  margin: 1rem 2rem 0rem 2rem;
  /* padding-right: 1rem; */
  max-width: 100%;
  height: 180px;
  border: 1.5px solid #3db46d;
  border-radius: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 400px;
  padding: 1rem;
}

.filter-category {
  padding: 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: auto 0rem;
}

.clear-filters-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.clear-filters-btn {
  width: 8rem;
  padding: 0.5rem;
  font-size: 14px;
  /* line-height: 19px; */
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3db46d;
}

/* .toggle-nav-icon {
  font-size: 35px;
  border-radius: 5px;
  color: #767676;
  cursor: pointer;
  grid-column: 4 / 5;
  align-self: center;
} */

/* @media screen and (max-width: 1450px) {
  .add-photo-btn {
    grid-column: 1 / 2;
  }

  .toggle-nav-icon {
    grid-column: 3 / 4;
  }
} */

/* @media screen and (max-width: 1198px) {
  .add-photo-btn {
    display: none;
  }

  .toggle-nav-icon {
    grid-column: 4 / 5;
  }
} */

@media screen and (max-width: 1200px) {
  .brand-name {
    font-size: 28px;
  }

  .nav-img {
    /* left: 50px; */
    height: 24px;
    width: 24px;
  }

  .nav-last-div {
    justify-content: start;
  }
}

@media screen and (max-width: 900px) {
  /* .navbar {
    margin-left: 1rem;
  } */

  /* .toggle-nav-icon {
    grid-column: 3 / 4;
  } */
}

@media screen and (max-width: 760px) {
  .brand-name {
    display: none;
  }
  /* .toggle-nav-icon {
    grid-column: 2 / 3;
  } */
}

@media screen and (max-width: 450px) {
  .nav-search-bar {
    padding-left: 40px;
  }

  /* .toggle-nav-icon {
    grid-column: 1 / 2;
  } */
}
