.navbar-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6rem;
  z-index: 99;
  background-color: white;
  /* overflow: hidden; */
}

.navbar {
  position: sticky;
  top: 1rem;
  left: 0;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 4rem;
  margin-left: 1rem;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 /2;
  cursor: pointer;
}

.nav-img {
  height: 30px;
  width: 30px;
  margin-right: 0.7rem;
}

.brand-name {
  font-size: 36px;
  font-weight: 800;
}

.nav-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 6;
}

.nav-search-bar {
  font-weight: 500;
  width: 80%;
  height: 40px;
  border: 1px solid #bdbdbd;
  outline: none;
  border-radius: 20px;
  padding-left: 1.5rem;
}

.nav-search-icon {
  position: relative;
  left: -2.5rem;
  color: rgb(85, 85, 85);
  cursor: pointer;
}

.nav-last-div {
  grid-column: 6 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  top: 24px;
  right: 5%;
  width: 110px;
  height: 40px;
  background-color: white;
  border: 1px solid #3db46d;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #3db46d;
  color: white;
}

.filter-btn-text {
  display: inline;
}

.filter-btn-icon {
  display: none;
}

.filter-container {
  margin: 1rem 2rem 0rem 2rem;
  max-width: 100%;
  height: 180px;
  border: 1.5px solid #3db46d;
  border-radius: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 400px;
  padding: 1rem;
}

.filter-category {
  padding: 1rem;
  margin: auto 0rem;
}

.clear-filters-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.clear-filters-btn {
  width: 8rem;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3db46d;
}

#portrait {
  margin-left: 3.25rem;
}

@media screen and (max-width: 1200px) {
  .brand-name {
    font-size: 28px;
  }

  .nav-img {
    height: 24px;
    width: 24px;
  }

  .nav-last-div {
    justify-content: start;
  }

  .filter-container {
    grid-template-columns: 1fr 1fr 1.5fr 300px;
  }
}

@media screen and (max-width: 1024px) {
  .filter-container {
    grid-template-columns: 1fr 1fr 1.5fr 180px;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    grid-template-columns: 100px 1fr 160px;
  }

  .navbar > * {
    grid-column: unset;
  }

  .brand-name {
    display: none;
  }

  .nav-img {
    height: 36px;
    width: 36px;
  }

  .filter-btn-text {
    display: none;
  }

  .filter-btn-icon {
    display: inline;
  }

  .filter-container {
    height: 280px;
    grid-template-columns: 1fr 1fr;
  }

  #portrait {
    margin-left: 3.2rem;
  }
}

@media screen and (max-width: 760px) {
  .navbar {
    grid-template-columns: 100px 1fr 140px;
  }

  .brand-name {
    display: none;
  }

  .filter-btn {
    width: 90px;
  }
}

@media screen and (max-width: 576px) {
  .navbar-brand {
    display: none;
  }

  .navbar {
    grid-template-columns: 1fr 120px;
    margin-left: 2rem;
  }

  .navbar-sm {
    grid-template-columns: 1fr;
    margin-right: 1rem;
    width: 92%;
  }

  .nav-search-bar {
    padding-left: 1rem;
    width: 100%;
  }

  .nav-search-icon {
    left: -2rem;
  }

  .filter-btn {
    width: 70px;
  }

  .filter-container {
    height: 300px;
    display: flex;
    flex-direction: column;
  }

  .filter-category {
    padding: 0rem;
  }

  .filter-container > * {
    font-size: 14px;
  }

  .clear-filters-container {
    align-items: flex-end;
  }

  #portrait {
    margin-left: 2.8rem;
  }
}

@media screen and (max-width: 450px) {
  .nav-search-bar {
    padding-left: 1rem;
  }

  .filter-btn {
    width: 50px;
  }
}
